* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    
}

/* Variable */
:root {
    --container-color: #1a1e21;
    --seccond-color: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;
    --third-color: #3c3a39;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

header {
    position: relative;
}
section {
    margin: 1.5rem 3%;
    z-index: 100;
    display: block;
}


/* Header */
#heading {
    background: #554f51;
    border-bottom: 2px solid black;
    width: 100%;
    height: 7vh;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
}

/* Logo */
#heading .logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
    line-height: 2vh;
    margin-left: 1rem;
}
#heading .logo span{
    color: var(--seccond-color);
}

/* Navigation */
#heading a{
    color: white;
    align-items: center;
    padding-left: 1rem;
}
/* Icon cart */
#heading .right-heading {
    display: flex;
    align-items: center;
}
#heading .cart-icon {
    margin-right: 1.2rem;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 60px;
    padding: 0.5rem;
}
#heading .icon-cart:hover {
    color: red;
    transform: 0.3s linear;
}

/* Login BTN */
#heading .login {
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--seccond-color);
    color: var(--bg-color);
    margin-right: 1rem;
    line-height: 60px;
}
#heading .login:hover {
    background: hsl(24, 989%, 58%);
    transition: 0.3s;
}

/* Cart-items */
#cart-items {
    display: none;
    width: 15%;
    height: 75vh;
    background-color: #ccc;
    position: fixed;
    z-index: 150;
    right: 0;
    top: 0;
}

/* HOME Banner*/
#home {
    margin-top: 60px;
    width: 100%;
    min-height: 70vh;
    background: var(--third-color);
    background: url('./img/home/banner2.jpg') no-repeat center;
    background-size: cover;
    background-clip: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;

}
#home .home-text {
    color: var(--bg-color);
    text-align: center;
    max-width: 600px;
    max-height: 280px;
}
#home .home-title {
    font-size: 2rem;
    text-transform: uppercase;
}
#home .home-subtitle {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    font-style: italic;
    opacity: 0.5;
}

/* About Us */
.about-title {
    text-align: center;
    text-transform: uppercase;
    color: brown;
    padding: 1rem;
    font-size: 1.5rem;
   
}
.about-info {
    display: flex;
    border: 1px solid;
    border-radius: 4px;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    
}
.about-img {
    padding: 1rem 0 1rem 1rem;
    flex-grow: 1;
    width: 20%;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
}
.column-about {
    display: block;
    padding: 1rem;
    display: block;
    margin: auto;
    line-height: 1.4;
    flex-grow: 1;
    max-width: 800px;
    max-height: 600px;    
}
.about-heading {
    padding: 1rem 0;
    text-transform: uppercase;
}
.about-content {
    padding: 1rem 0;
    text-align: justify;
}
.about-button {
    padding: 10px 20px;
    color: white;
    background: var(--seccond-color);
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}


/* Post Filter */
.post-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}
.filter-item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
.active-filter {
    background: var(--seccond-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}

/* Post */
.post {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px,auto));
    justify-content: center;
    gap: 1.5rem;
}
.post-box {
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}
.post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
.category {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--seccond-color);
}
.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    /* Remain title in 2 line */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-date {
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}
.post-decription {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    /* Remain title in 3 line */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--seccond-color);
    background-size: 100%;
}

/* Hot-items */
#container-hot-item {
    margin: 1.5rem 3%;
}
.item-title {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.box-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(15rem,auto));
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    min-height: 300px;
}
.box {
    text-align: center;
    padding: 2rem;
    border: 1px solid;
    border-radius: 4px;
    display: block;
    
}
.box-img {
    height: 10rem;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.box-title-name {
    padding: 15px 0;
    font-size: 1rem;
    font-weight: 600;
    overflow-wrap: break-word;
}
.box span {
    font-style: italic;
    font-size: 0.7rem;
    font-weight: 200;
    text-decoration: line-through;
}
.price {
    font-weight: 500;
}
.btn {
    font-size: 0.7rem;
    cursor: pointer;
    padding: 0.4rem 0.9rem;
    background-color: #fd8f44;
    border-radius: 4px;
    color: white;
}
.box-icon{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.box-icon i {
    padding: 0.4rem;
    border: 1px solid;
    border-radius: 4px;
}
.box .category {
    padding-bottom: 0.4rem;
    font-size: 0.7rem;
}

/* Reviewer / Rating about US */
.review-title {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.container-layout-review {
    display: grid;
    grid-template-columns: repeat(3, minmax(15rem,auto));
    gap: 1.5rem;
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    overflow: auto;
}
.container-column {
    padding: 1.5rem;
}
.quote-img {
    width: 2rem;
    height: 2rem;
    float: none;
}
.container-info {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.reviewer {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-right: 0.5rem;
}
.reviewer-name {
    font-weight: 500;
}
.container-rating-star {
    text-align: left;
    padding: 0.5rem 1rem;
}
.category {
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}
.container-content-review {
    line-height: 1.4;
    text-align: left;
}

/* Contact US */

#contact {
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
}
.contact-title {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 0;
}
.contact-layout {
    display: flex;
    padding: 1.5rem;
    flex-wrap: wrap;
}
.contact-img {
    flex-grow: 1;
    width: 30%;
    height: 20rem;
    object-fit: cover;
    margin-right: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
}
.contact-input {
    flex-grow: 2;
    margin-left: 1.5rem;
    margin: auto;

}
.contact-title-input {
    text-transform: uppercase;
    text-align: center;
}
.input-info {
    display: flex;
    border: 1px solid;
    border-radius: 4px;
    margin: 1.5rem 0;
    padding: 0.8rem;
}
.input-info input{
    width: 100%;
    font-size: 1rem;
    background: none;
    border: none;
    padding-left: 0.4rem;
    text-transform: none;
    outline: none;
}

.contact-btn {
    padding: 0.4rem 1rem;
    background: var(--seccond-color);
    border-radius: 4px;
    display: inline-block;
    margin-left: 45%;
    color: white;
    text-transform: uppercase;
}

/* Footer */
.footer {
    padding: 1rem;
    text-align: center;
}
.container-icon {
    display: inline-block;
    align-items: center;
    margin: auto;
    
}
.icon-social {
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--third-color);
}
.infomation {
    display: flex;
    justify-content: center;
    text-align: center;
}
.infomation span {
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: var(--seccond-color);
    margin-right: 0.5rem;
}
.information p {
    padding: 0.5rem 0.5rem;
}



/* -----------------------------------------------> */
/* CSS of Post-page */

/* Header-Nav */
.nav-slogan {
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    font-style: italic;
    opacity: 0.5;
    color: white;
}

/* Banner Post-page */
.banner-img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 4px;
}

/* Post content */
#box-content {
    padding: 2rem 15rem;
}